# /Frontend_for_main_website/node_modules
# /Frontend_for_main_website/.angular/cache

# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/Frontend_for_main_website/dist
/Frontend_for_main_website/tmp
/Frontend_for_main_website/out-tsc
/Frontend_for_main_website/bazel-out
/Frontend_for_main_website/server

# Node
/Frontend_for_main_website/node_modules
/Frontend_for_main_website/npm-debug.log
/Frontend_for_main_website/yarn-error.log

# IDEs and editors
/Frontend_for_main_website/.idea/
/Frontend_for_main_website/.project
/Frontend_for_main_website/.classpath
/Frontend_for_main_website/.c9/
/Frontend_for_main_website/*.launch
/Frontend_for_main_website/.settings/
/Frontend_for_main_website/*.sublime-workspace

# Visual Studio Code
/Frontend_for_main_website/.vscode/*
/Frontend_for_main_website/!.vscode/settings.json
/Frontend_for_main_website/!.vscode/tasks.json
/Frontend_for_main_website/!.vscode/launch.json
/Frontend_for_main_website/!.vscode/extensions.json
/Frontend_for_main_website/.history/*

# Miscellaneous
/Frontend_for_main_website/.angular/cache
/Frontend_for_main_website/.sass-cache/
/Frontend_for_main_website/connect.lock
/Frontend_for_main_website/coverage
/Frontend_for_main_website/libpeerconnection.log
/Frontend_for_main_website/testem.log
/Frontend_for_main_website/typings

# System files
/Frontend_for_main_website/.DS_Store
/Frontend_for_main_website/Thumbs.db
